.grid-green {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.grid-green div {
    background-color: limegreen;
    padding: 20px;
    text-align: center;
}

.span-2 {
    grid-row: span 2;
}

.span-3 {
    grid-row: span 3;
}
